name: "Terraform AWS OCR Infra Provisioning"

# Limitation: Do not delete and update YAML/.tf files simultaneously in a single commit.
run-name: Deploy to ${{ github.ref_name }} by @${{ github.actor }} - ${{inputs.incident}}

on:
  push:
    paths:
      - 'aws/**' 

permissions:
 id-token: write
 contents: read
jobs:
  diff:
    runs-on: ubuntu-latest
    outputs:
      # from build-yaml-matrix
      files_json:         ${{ steps.matrix.outputs.files_json }}
      count:              ${{ steps.matrix.outputs.count }}
      matrix_json:  ${{ steps.enrich.outputs.matrix_json }}
      matrix_count: ${{ steps.enrich.outputs.matrix_count }}
      # from detect-deleted-yaml
      deleted_files_json: ${{ steps.deleted.outputs.deleted_files_json }}
      deleted_count:      ${{ steps.deleted.outputs.deleted_count }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Compute base/head SHAs
        id: shas
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "BASE=${{ github.event.pull_request.base.sha }}" >> "$GITHUB_OUTPUT"
            echo "HEAD=${{ github.event.pull_request.head.sha }}" >> "$GITHUB_OUTPUT"
          else
            echo "BASE=${{ github.event.before }}" >> "$GITHUB_OUTPUT"
            echo "HEAD=${{ github.sha }}"        >> "$GITHUB_OUTPUT"
          fi

      # We will put if dev or prod condition to define folder specific changes.
      - name: List changed files
        run: |
          git diff --name-only "${{ steps.shas.outputs.BASE }}" "${{ steps.shas.outputs.HEAD }}" -- aws/ > changed.txt  # TODO, dynamic folder name instead of dev
          echo "Changed under dev/:"
          cat changed.txt || true

      - name: Prepare JSON for matrix (YAML to process)
        id: matrix
        uses: ./.github/actions/build-yaml-matrix
        with:
          changed_file_list: changed.txt
          path: dev # TODO, dynamic

      - name: Detect deleted YAML under dev/
        id: deleted
        uses: ./.github/actions/detect-deleted-yaml
        with:
          base: ${{ steps.shas.outputs.BASE }}
          head: ${{ steps.shas.outputs.HEAD }}
          path: aws # TODO, dynamic
  per_changed_yaml:
    needs: diff
    strategy:
      matrix:
        include: ${{ fromJson(needs.diff.outputs.matrix_json) }}
    runs-on: ubuntu-latest
    steps:
      - name: Print matrix values
        run: |
          echo "Account ID: ${{ matrix.account_id }}"
          echo "File: ${{ matrix.file }}"
          echo "Diff count: ${{ needs.diff.outputs.matrix_count }}"

  # per_changed_yaml:
  #   needs: diff
  #   if: needs.diff.outputs.count != '0'  && needs.diff.outputs.deleted_count == '0'
  #   uses: ./.github/workflows/process-yaml.yml
  #   strategy:
  #     matrix:
  #       file: ${{ fromJson(needs.diff.outputs.files_json) }}
  #   with:
  #     file: ${{ matrix.file }}
  #     mode: changed

  # per_deleted_yaml:
  #   needs: diff
  #   if: needs.diff.outputs.deleted_count != '0'
  #   uses: ./.github/workflows/process-yaml.yml
  #   strategy:
  #     matrix:
  #       file: ${{ fromJson(needs.diff.outputs.deleted_files_json) }}
  #   with:
  #     file: ${{ matrix.file }}
  #     mode: deleted
  